*{
    margin:0px;
    padding:0px;
    font-family: sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #212121;
}

nav{
    display: flex;
    width: 84;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 5%;
    padding-left: 5%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1 px solid #212121;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    padding: 10px 25px;
}

nav ul li a{
    text-decoration: none;
    color: #fcfcfc;
    font-weight: bold;
}

nav ul li a:hover{
    color: rgb(50, 110, 175);
    transition: 0.5s;
}

.home{
    margin-left: 5%;
    margin-top: 13%;
}

.home h1{
    font-size: 50px;
    color: #fcfcfc;
    margin-bottom: 20px;
}

span{
    color: rgb(50, 110, 175);
}

.home p{
    color: #fcfcfc;
    line-height: 22px;
}
.home p :hover{
    background-color: #212121;
}
.home a{
    font-size: 15px;
    background: rgba(50, 110, 175);
    color: #fcfcfc;
    display: inline-block;
    padding: 10px 18px;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #fcfcfc;
    font-weight: bold;
    margin: 30px 0;
    border-radius: px;
    transition: 0.5s;
}
.home a :hover{
    background-color: transparent;
    border: 1px solid #fcfcfc
}
.images{
    width: 86%;
    height: 85%;
    position: absolute;
    bottom: 0;
    right: 50px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-40);
    transition: bottom 1s, left 1s;
}
.images .shape{
    height: 100%;
    left: 50%;
}

.images:hover .shape{
    bottom : 40px;
}

.images:hover .girl{
    left: 55%;
}

.about{
    width: 100%;
    padding: 10;
    height: 100vh;
    background-color: rgb(198, 222, 250);
}
.about-me{
    width: 1150px;
    padding-top: 15px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-me img{
    height: 100%;
    width: 463px;
    bottom: 0;
}

.about-text{
    width: 550px;
}
.about-me h2 {
    color: #212121;
    font-size: 65px;
    text-transform: capitalize;
    margin-bottom: 20px;
    border-bottom: 1px solid darkblue;
}
.about-text h5{
    color: #212121;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.about-text p{
    color: #212121;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    text-align: justify;
}
.button{
    background: rgba(50, 110, 175);
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    transition: 0.5s;
}
.button:hover{
    background-color: #212121;
}

.service{
    background: rgb(232, 232, 232);
    width: 100%;
    padding: 80px 0;
}
.title h2{
    color:#212121;
    font-size: 75px;
    width: 100%;
    margin-bottom: 30px auto;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 300px;
    width: 260px;
    padding: 20px 25px;
    background: transparent;
    border-radius: 15px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 2px solid #212121;
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0;
    color: #212121;
}
.card h5{
    color: #212121;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color: #212121;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 25px;
    text-align: justify;
}
.pra p a{
    background: rgba(50, 110, 175);
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 25px;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: 0.5s;
}
.pra p a:hover{
    background-color: #212121;
    cursor: pointer;
}

/* Style Portofolio */
.portofolio{
    margin:0px;
    background-color: rgb(198, 222, 250);
    width: 100%;
    height: 80vh;
    padding: 80px 0;
}
.card h2{
    color:#212121;
    font-size: 75px;
    width: 100%;
    margin-bottom: 30px auto;
    text-align: center;
}
.card-body{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #212121;
    font-weight: bold;
    font-size: 17px;
}
.card-body a{
    background: rgba(50, 110, 175);
    padding: 10px 18px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 20px 0;
    border-radius: 10px;
    transition: 0.5s;
}
.card-body a:hover{
    background-color: #212121;
}
.card img{
    align-items: center;
    width: 90%;
}

.contact-me{
    width: 100%;
    padding: 100px 0;
    background-color: #101010;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact-text h2{
    color: white;
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 10px;
    text-align: center;
}
.contact-box{
    color: #fff;
}
.contact-box:after{
    content: '';
    display: block;
    clear: both;
}
.contact{
    width: 25%;
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
    float: left;
}
.contact h4{
    color: rgba(50, 110, 175);
    padding-bottom: 10px;
}
.contact p{
    font-size: 18px;
}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: #fcfcfc;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.sosial{
    display: flex;
}
.sosial a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(50, 110, 175)e;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    border: 2px solid white;
}
.sosial a:hover{
    transform: scale(1.1);
    transition: 0.5s;
    background: transparent;
    border: 2px solid rgba(50, 110, 175);
    color: rgba(50, 110, 175);
}
.end{
    position: absolute;
    color: white;
    bottom: 65px;
    font-size: 16px;
}
